.header {
  min-height: 100vh;
  position: relative;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 12.5%;
}
.header-image {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 43.5%;
}
.headertop {
  padding-top: 32px;
  display: flex;
  align-items: baseline;
}
.headerlogo {
  max-width: 160px;
}
.menu {
  margin-left: 14%;
  position: relative;
  z-index: 2;
}
.menulist {
  display: flex;
  align-items: center;
}
.menuitem {
  margin: 0 20px;
}
.menulink {
  color: var(--gray-dark);
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.2s linear;
}
.menulink:hover {
  color: var(--primary-color);
}
.headercontent {
  padding-top: 150px;
  position: relative;
  max-width: 600px;
  z-index: 2;
}
.headercontent-head {
  font-family: var(--secondary-font);
  color: var(--primary-color);
  margin-bottom: 50px;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
}
.headercontent-title {
  font-size: 50px;
  color: var(--gray-dark);
  font-family: var(--secondary-font);
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1.2;
}
.headercontent-desc {
  font-size: 15px;
  color: var(--gray-dark);
  margin-bottom: 30px;
  line-height: 20px;
}
.headercontent-cta {
  display: flex;
  align-items: center;
}
.headercontent-cta > a:first-child {
  margin-right: 50px;
}
.-video {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
}
.video > i {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  background-color: var(--bg-block);
  color: var(--primary-color);
  margin-right: 10px;
}
.button {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: none;
  padding: 24px 48px;
  text-align: center;
  color: antiquewhite;
  text-transform: uppercase;
  font-size: 22.4px;
  cursor: pointer;
  background-color: var(--primary-color);
  margin-left: 20px;
  color: inherit;
}
.button:hover {
  color: black;
}
.about-container {
  position: relative;
  padding-top: 230px;
  padding-bottom: 230px;
}
.flower1 {
  position: absolute;
  max-width: 220px;
  top: 0;
  left: 0;
}
.flower2 {
  position: absolute;
  max-width: 160px;
  right: 0;
  top: 50%;
  transform: translateY(50%);
}
.content {
  position: relative;
  z-index: 5;
  margin: 0 auto;
  text-align: center;
  max-width: 920px;
}
.about-content-pic {
  margin: 0 auto 50px;
  max-width: 130px;
}
h3 {
  text-transform: uppercase;
  color: gray;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 60px;
}
h2 {
  text-transform: uppercase;
  font-size: 30px;
}
.text {
  position: relative;
  font-size: 16px;
  text-align: center;
}
.about-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-items {
  max-width: 24.5%;
  position: relative;
}
.about-items-content {
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: var(--secondary-font);
  opacity: 0;
  transition: opacity 0.2s linear;
}
.about-items:hover .about-items-content {
  opacity: 1;
}
.popular {
  padding-top: 230px;
  padding-bottom: 230px;
}
.popular-container {
  position: relative;
  max-width: 1200px;
  height: 600px;
  align-items: center;
  left: 350px;
}
.popular-list {
  max-width: 1112px;
  height: 574px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.popular-item {
  width: calc(33.33%-13.33px);
  border: 1px solid gray;
  padding: 20px 20px 20px 20px;
  margin-left: 15px;
}
.popular-link .button2nd {
  transition: background-color 0.2s linear;
}
.popular-img {
  width: 100%;
  height: 253px;
  object-fit: cover;
}
.popular-link .title {
  font-family: var(--secondary-font);
  font-size: 35px;
  margin-bottom: 48px;
  margin-top: 80px;
  color: var(--gray-dark);
}
.popular-link .decs {
  font-size: 22px;
  line-height: 2;
  color: gray;
  margin-bottom: 60px;
}
.popular-link:hover {
  box-shadow: 0 0 14px 14px rgba(0, 0, 0, 0.025);
}
.popular-link:hover .button2nd {
  background-color: green;
}
.button2nd {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  outline: none;
  padding: 24px 48px;
  text-align: center;
  color: antiquewhite;
  text-transform: uppercase;
  font-size: 22.4px;
  cursor: pointer;
  background-color: gray;
  margin-left: 20px;
  border-radius: 20px;
}
.review {
  display: inline-block;
  padding-top: 230px;
  padding-bottom: 230px;
  text-align: center;
  background-color: var(--bg-block);
  justify-content: center;
}
.review-items {
  text-align: center;
  margin-bottom: 90px;
}
.review-text {
  max-width: 80%;
  margin: 80px auto;
  font-size: 14px;
  color: gray;
  line-height: 1.8;
}
.experience {
  padding-top: 230px;
  padding-bottom: 320px;
  background-color: #fff;
}
.experience-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-items {
  width: calc(33.33% - 32px);
  position: relative;
}
.info {
  background-color: #fff;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: transform 0.2s linear;
}
.name {
  font-family: var(--secondary-font);
  font-size: 35px;
  margin-bottom: 16px;
}
.job {
  font-size: 24px;
  font-weight: 300;
  color: gray;
}
.social {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}
.social li {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  margin: 0 7.5px;
  flex-shrink: 0;
}
.social a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-dark);
  border: 1px solid;
  border-radius: inherit;
  transition: 0.2s linear;
}
.social a:hover {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.list-items:hover .info {
  transform: translateY(25%);
  box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.025);
}
.list-items:hover .social {
  opacity: 1;
}
.contact {
  padding-bottom: 14rem;
  background-color: white;
}
.contact .container {
  max-width: 100rem;
}
.contact__content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.contact__form input,
.contact__form textarea {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
  border: 1px solid #eee;
  padding: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--gray-light);
  outline: none;
}
.contact__form input::-webkit-input-placeholder,
.contact__form textarea::-webkit-input-placeholder {
  text-transform: uppercase;
}
.contact__form textarea {
  resize: none;
  min-height: 15rem;
  margin-bottom: 3.5rem;
}
.contact__item {
  display: flex;
  align-items: center;
}
.contact__item i {
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  flex-shrink: 0;
  margin-right: 2.5rem;
  font-size: 2rem;
}
.contact__text {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--gray-light);
}
.contact__text a {
  display: block;
  color: var(--gray-light);
  margin: 5px 0;
}
.contact__item:nth-of-type(2) {
  margin: 4rem 0;
}
.footer {
  background-color: var(--bg-block);
  padding: 9rem 0;
}
.footer .footer-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.footer__logo {
  max-width: 12rem;
  margin: 0 auto 4rem;
}
.footer__social {
  margin: 4.5rem 0;
  display: flex;
  align-items: center;
}
.footer__social-item {
  font-size: 2rem;
  color: var(--gray-dark);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  transition: color 0.2s linear;
}
.footer__social-item:hover {
  color: var(--primary-color);
}
.footer__social-item:not(:first-child) {
  border-left: 1px solid var(--gray-light);
}
.footer-nav {
  padding-left: 0;
  margin-left: 0;
}
